<div class="panel panel-primary">
    <br>
    <div class="panel-heading">
        Standup Application
    </div>
    <br>
    <div class="panel-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-success" >Presents list of standups filter by team member</li>
            <li class="list-group-item list-group-item-success" >Using RXJS operators</li>
            <li class="list-group-item list-group-item-success">Using node.js api</li>
            <ul>
                <li class="list-group-item list-group-item-info">Get all team members</li>
                <li class="list-group-item list-group-item-info">Get all projects</li>
                <li class="list-group-item list-group-item-info">Get all standups</li>
                <li class="list-group-item list-group-item-info">Get standups filter by team member</li>
                <li class="list-group-item list-group-item-info">Post standup</li>
            </ul>
           <!--  <li>Adding gaurd service to link edit form</li>
            <li>Using link resolver when fetching data to link edit form</li> -->
            <li class="list-group-item list-group-item-success">Using Animation</li>
            <li class="list-group-item list-group-item-success">Use share features modules</li>
            <li class="list-group-item list-group-item-success">Using Spinner</li>
            <li class="list-group-item list-group-item-success">Custom Preloading Strategy for list of standups</li>
            <li class="list-group-item list-group-item-success">UI's errors handling</li>
          </ul>
    </div>
</div>